html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboy-container {
    position: relative;
    display: inline-block;
}

.bg {
    display: block;
    max-width: 100%;
    height: auto;
}

.gameboy-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.gameboy {
    display: block;
    height: auto;
}

.icons {
    position: absolute;
    top: 46px;
    left: 56px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    column-gap: 22px;
    row-gap: 2px;
    z-index: 2;
}

.icons a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0;
}

.icon {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.dot {
    position: absolute;
    top: 296px;
    left: 4px;
    cursor: pointer;
    z-index: 2;
}
